body {
    background-color: #f0f8ff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
.container {
    margin-top: 50px;
}
.board {
    background-color: #ffebcd;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn {
    background-color: #ff69b4;
    border: none;
    color: white;
}
.btn:hover {
    background-color: #ff1493;
}
.form-check-label, .form-group label {
    color: #4682b4;
}
.form-group img {
    width: 100px;
    height: auto;
    border: 2px solid transparent;
    cursor: pointer;
}
.form-group img.selected {
    border-color: #ff69b4;
}
.text-center{
    padding: 20px;
}
.card{
    height: 100px;
    max-width: 100px;
    background-color: #ff69b4;
    border: 1px solid #4682b4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card img{
    height: 100%;
    width: auto;
}
/* 
.theme-option{
    width: 200px;
    height: auto;
} */